# IDE related
.idea/
cmake-build-debug/
CMakeLists.txt

# Build
build/
bin/

# Libs (default)
lib/*/build/
lib/*/temp/
lib/*/include/
# Libs (specific cases)
!lib/catch/include/

#In case of bad manipulation
*.o
*.exe
*.s
*.out

#Others
*.pdf