sudo: required
language: C
notifications:
  slack: thecursed:MCb6TtcwBk4XLoA1g31rmffY

addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
      - gcc-5
      - g++-5

before_install:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  - sudo apt-get update -qq
  - sudo apt-get install bison flex

before_script:
  - make --version
  - gcc --version
  - g++ --version
  - bison --version
  - flex --version

script:
  - make OS=unix && make OS=unix u-tests && make OS=unix nr-tests && make OS=unix run-utests