sudo: required
language: C
notifications:
  slack: thecursed:MCb6TtcwBk4XLoA1g31rmffY

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install bison flex

before_script:
  - make --version
  - g++ --version
  - bison --version
  - flex --version

script:
  - make OS=unix tests